
body{
    background-color: #47B5FF;
}
body{
    font-family: sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: black; 
}

header{
    display: flex;
    min-height: 70px;
    background-color: #DFF6FF;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 85px;
    margin-right: 10px;
}

nav a{ 
    font-weight: 600;
    padding-right: 10px;

}

nav a:hover{
    color: #256D85; 
}

    .botones{ 
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100px;
        margin-top: 50px;
       
    }

.boton{
    width: 224px;
    height: 100px;
    background-color: #06283D;
    border-radius: 40px;
    text-align: center;
    line-height: 100px;
    margin-left: 50px;

}

.boton a{
    color: #FDFEE9;
}

.folleto{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

footer{
    background-color: #DFF6FF;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%; 
}

.img{
    width: 310px;
    height: 550px;
    background-color: aqua;
}

.texto{
    width: 700px;
    height: 550px;
    padding: 70px 100px;
    font-size: 30pt;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }